*
!.bashrc
!.gitignore
!README.md
!fzf
!fzf/**
!ghostty
!ghostty/**
!k9s
!k9s/**
!nvim
!nvim/**
!opencode
!opencode/themes
!opencode/themes/**
!screen.png
!razer/
!razer/**
!tmux
!tmux/**
!vim
!vim/**
!wall.jpeg
nvim/spell/**
vim/undodir/**
